.pricing_section {
  width: 1200px;
  margin: 200px auto 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  gap: 4rem;
}
.basic_price,
.standard_price,
.premium_price {
  border: 1px solid #eee;
  padding: 20px 50px;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  background-color: #fff;
}

.basic,
.standard,
.premium {
  display: grid;
  grid-gap: 1rem;
  padding-bottom: 80px;
}
.plan_badge {
  --wd: 30px;
  --wdm: -30px;
  width: calc(100% + var(--wd));
  position: absolute;
  background-color: #00998c;
  /* transform: rotate(-90deg); */
  padding: 10px;
  text-align: center;
  bottom: calc(100% - 14px);
  border-radius: 10px;
  left: calc(var(--wdm) / 2);
  z-index: -1;
  padding-bottom: 20px;

  /* z-index: -1; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.basic_plan_badge {
  background-color: #00998c;
}
.standard_plan_badge {
  background-color: #e65400;
}
.premium_plan_badge {
  background-color: #00a05de8;
}
.basic_plan_badge p,
.standard_plan_badge p,
.premium_plan_badge p {
  color: #fff;
  font-size: 18px;
}
.plan_list {
  display: flex;
  gap: 0.5rem;
}
.pricing {
  display: grid;
  grid-gap: 0.8rem;
}
.price_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.price_heading h1 {
  font-size: 25px;
  font-weight: 500;
  color: #222;
}
.p_head_icon {
  font-size: 22px;
  margin-right: 5px;
}
.bas_had_icon {
  color: #00998c;
}
.standard_had_icon {
  color: #e65400;
}
.premium_had_icon {
  color: #00a05de8;
}
.month_price {
  text-align: center;
}
/* .month_p_basic{
    border: 5px solid #00998c46;
}
.month_price_standard{
    border: 5px solid #46007538;
}
.month_price_premium{
    border: 5px solid #0080003a;
}*/
.month_price_child {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0;
}
.month_price_child h1 {
  font-size: 30px;
  padding: 5px 10px 5px 7px;
}
.month_price_child p {
  position: absolute;
  bottom: 0;
  right: 62px;
}
.basc_plan_list_icon {
  color: #00998c;
}
.sta_plan_list_icon {
  color: #e65400;
}
.pri_plan_list_icon {
  color: #00a05de8;
}
.call_btn {
  text-align: center;
  color: #fff;
  margin: 15px 0;
  padding: 10px 50px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
}
#basic_call_btn {
  background-color: #00998c;
}
#standard_call_btn {
  background-color: #e65400;
}
#premium_call_btn {
  background-color: #00a05de8;
}
