.about_section {
  width: 1200px;
  margin: 80px auto 40px auto;
  line-height: 30px;
  color: #444;
}
.about_mid_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.about_top_name b{
    color: #008000;
    font-family: Arial, Helvetica, sans-serif;
  
}
.about_mid_cont_left {
  display: grid;
  grid-gap: 1rem;
  line-height: 25px;
}
.about_benefit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.about_benefit .about_benefit_icon {
  color: green;
}
.about_mid_cont_video iframe {
  width: 620px;
  height: 320px;
}

@media screen and (max-width: 1400px) {
  .about_section {
    width: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  .about_section {
    width: 90%;
  }
  .about_mid_cont_video iframe {
    width: 450px;
    height: 250px;
  }
}
@media screen and (max-width: 992px) {
  .about_section{
    padding-top: 100px;
    margin-top: 0;
  }
  .about_mid_cont_video iframe {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .about_section {
    margin: 0px auto 40px auto;
  }
  .about_mid_cont {
    flex-direction: column;
    gap: 2rem;
  }
  .about_mid_cont_video iframe {
    width: 500px;
    height: 250px;
  }
}
@media screen and (max-width: 573px) {
  .about_mid_cont_video iframe {
    width: 300px;
    height: 200px;
  }
}
