#home_bg_section {
  margin-top: 80px;
}
.home_bg {
  display: block;
  position: relative;
  height: 85vh;
}
.home_bg .home_bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home_bg_content {
  padding: 0 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
  right: 5%;
  left: 5%;
  bottom: -5px;
}
.home_bg_content img {
  width: 700px;
}
.home_bg_content h1 {
  font-size: calc(22px + (45 - 22) * (100vw - 320px) / (2100 - 320));
}
.home_bg_content h3 {
  font-size: calc(17px + (25 - 17) * (100vw - 320px) / (2100 - 320));
}
.home_bg_content_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.home_bg_content_btn a {
  background-color: #056fdf;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
.home_bg_content_btn a:hover {
  background-color: #056edfbd;
}

.home_mang {
  width: 1200px;
  margin: 50px auto;
}
.home_mang_con {
  display: grid;
  align-items: center;
  grid-template-areas: a b;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  color: #222;
}
.home_mang_con h2 {
  margin-bottom: 0.5rem;
}
.home_mang_con img {
  width: 100%;
}
.contact_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.con_item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 30px 80px;
  margin-top: 50px;
  gap: 1rem;
  cursor: pointer;
  color: #666;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.4s;
}
.con_item:hover {
  margin-top: 20px;
}
.con_item_social {
  font-size: 35px;
}
.con_whatsapp {
  color: #3dc351;
}
.con_item_whatsapp:hover {
  background-color: #3dc2511e;
}
.con_facebook {
  color: #275296;
}
.con_item_facebook:hover {
  background-color: #2752962c;
}
.con_youtube {
  color: #d4101b;
}
.con_item_youtube:hover {
  background-color: #d4101a1c;
}

.feature_cards {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 1rem;
}
.feature_card {
  height: 100%;
  display: grid;
  justify-items: center;
  grid-gap: 0.7rem;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s;
  position: relative;
}

.feature:hover .feature_card {
  background-color: #eee;
}

.feature_card img {
  width: 150px;
}
.hom_bottom_testimonuial {
  width: 1200px;
  margin: 40px auto;
}
.hom_bottom_testimonuial #testimonuial_title {
  width: 60%;
  margin: 40px auto 0px auto;
  font-size: calc(20px + (35 - 20) * (100vw - 320px) / (2100 - 320));
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .home_bg {
    height: 75vh;
  }
  .home_bg_content {
    justify-content: space-between;
    right: 5%;
    left: 5%;
    bottom: 5px;
  }
  .home_bg_content img {
    width: 500px;
  }
  .home_mang,
  .feature_cards,
  .hom_bottom_testimonuial {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .home_mang,
  .feature_cards,
  .hom_bottom_testimonuial {
    width: 90%;
  }
  .contact_section {
    gap: 1rem;
  }
  .con_item {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 992px) {
  .nav_logo img {
    width: 100px;
  }
  .home_bg_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 0%;
    left: 0%;
    bottom: 20px;
    gap: 2rem;
  }
  .home_bg_content img {
    width: 400px;
  }
  .con_item {
    padding: 15px 35px;
  }
  .feature_cards {
    width: 70%;
  }
  .feature_cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .home_mang_con {
    grid-template-columns: 1fr;
    align-items: initial;
    text-align: justify;
    grid-gap: 0.5rem;
  }
  .home_mang_con_warp {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0;
  }
  .home_mang_con h2 {
    font-size: 20px;
  }
  .home_mang_con p {
    font-size: 15px;
  }
  .contact_section {
    flex-direction: column;
    gap: 0rem;
  }
  .con_item {
    width: 300px;
    justify-content: center;
    margin-top: 30px;
  }
  .feature_cards {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .home_bg_content {
    bottom: 0px;
    gap: 5rem;
  }
  .home_bg_content img {
    width: 300px;
  }
  .home_bg_content_btn a {
    font-size: 12px;
  }
  .con_item {
    width: 80%;
  }
}
