.nav_section {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.nav_logo img {
  width: 130px;
  height: auto;
  display: block;
}

.navbar .nav_ul {
  display: flex;
  align-items: center;
}
.navbar .nav_ul li {
  list-style: none;
  margin: 5px;
  padding: 20px 0;
}
.navbar .nav_ul li a {
  display: block;
  padding: 13px 20px;
  color: #666;
  border: 1px solid #fff;
  font-size: 16px;
}
.navbar .nav_ul li a.active {
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
}
.navbar .nav_ul li a:hover {
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
}
.sub_menu_wrap {
  position: relative;
  z-index: 99;
}

.sub_menu {
  position: absolute;
  display: grid;
  width: 250px;
  transform: rotateX(90deg);
  transform-origin: top;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 15px;
}
.sub_menu_services:hover > a {
  background: #eee;
  border: 1px solid #bbb !important;
  border-radius: 5px;
}
.sub_menu_services:hover .sub_menu {
  transform: rotateX(0deg);
}
.sub_menu li {
  margin: 5px;
  padding: 0px 0 !important;
}

.sub_menu li a {
  padding: 15px 20px !important;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.sub_menu li a:hover {
  padding-left: 25px !important;
}
.nav_togg_btn {
  color: #444;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.phone_nav,
.phone_nav_none,
.phone_sub_menu_none {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav_section {
    padding: 0 6%;
  }
}
@media screen and (max-width: 992px) {
  .nav_togg_btn {
    display: block;
  }
  .navbar .nav_ul {
    display: none;
  }
  .phone_nav {
    z-index: 99;
    width: 300px;
    right: 0;
    display: block;
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: fixed;
  }
  .phone_nav_ul li a {
    display: block;
    padding: 5px 0px;
    color: #666;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    margin: 5px 0;
  }
  .phone_sub_menu {
    border-left: 2px solid #ddd;
    padding-left: 10px;
  }
}
